@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right bottom, #3494e6, #7a8ce7, #ab82dc, #d176c8, #ec6ead);
  font-family: 'Roboto Condensed', sans-serif;
  background-attachment: fixed;
}

.search {
  background-color: transparent;
  border: transparent;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 2rem;
  width: 50%;
}

.search:focus {
  outline: none;
}

.movie-card {
  border-radius: 20px;
  width: 300px;
  height: 450px;
  color: #fff;
  font-size: 2rem;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.movie-card img {
  width: 300px;
  height: 450px;
}

.movie-info {
  position: absolute;
  color: #232533;
  font-style: italic;  
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: 0.3s ease-in-out;
}

.movie-card:hover .movie-info {
  transform: translateY(0%);
}

.movie-details {
  color: #fff;
}

.list-group-item {
  background: transparent;
  font-size: 1.3rem;
  overflow: hidden;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.wallpaper {
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.plot {
  background: transparent;
  font-size: 1.3rem;
  border: transparent;
}

.card-footer {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}